body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 90px;
    background-color: #0a233a;
}

header i{
    font-size: 2rem;
    padding: 7px 10px;
    color: white;
    cursor: pointer;
    transition: .3s all;
    border: 2px solid white;
}

header i:hover{
    color: #25415e;
    border: 2px solid #25415e;
}

main{
    background-color: #25415e;
}

.disk-card{
    width: 350px;
    background-color: #0a233aa8;
    padding: 60px 0;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.delete i{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    margin: 20px;
    font-size: 0.8rem;
    transition: .3s all;
}

.delete i:hover{
    font-size: 1.1rem;
}

.disk-card img{
    height: 200px;
    width: 200px;
}

.cards-box{
    position: relative;
}

.details-box{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a233af0;;
}

.details-box img{
    width: 400px;
    height: 400px;
}

.close-button{
    top: 0;
    right: 0;
}

.close-button i{
    margin: 10px;
    font-size: 2rem;
    color: white;
    padding: 8px;
    border: 1px solid white;
    cursor: pointer;
}