body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 90px;
    background-color: #0a233a;
}

main{
    background-color: #25415e;
}

.disk-card{
    width: 250px;
    background-color: #0a233aa8;
    padding: 20px;
    border-radius: 15px;
}

.disk-card img{
    height: 200px;
    width: 200px;
}